.recover-password-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .submit-button, .back-button { /* Unifica el estilo de ambos botones */
    background-color: #4da6ff; /* Azul oscuro para ambos botones */
    color: white; /* Letras blancas */
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px; /* Margen inferior para separación entre botones */
  }
  
  .submit-button:hover, .back-button:hover {
    background-color: #3399ff; /* Azul más oscuro al hacer hover */
  }
  