.recover-password-container {
  width: 400px; 
  margin: auto;
  padding: 30px; 
  border: 1px solid #e0e0e0; 
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff; 
}

h1 {
  text-align: center;
  color: #333; 
  font-size: 24px; /*  tamaño de la fuente */
  margin-bottom: 20px; 
}

.form-group {
  margin-bottom: 20px; 
}

label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
  color: #555; 
}

input[type="email"] {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; /* tamaño de la fuente */
  transition: border-color 0.3s; 
}

input[type="email"]:focus {
  border-color: #4da6ff; 
  outline: none; 
}

.submit-button,
.back-button {
  background-color: #4da6ff; 
  color: white; 
  width: 100%;
  padding: 12px; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-top: 10px; 
  transition: background-color 0.3s; 
}

.submit-button:hover,
.back-button:hover {
  background-color: #3399ff; 
}

.my-popup {
  border-radius: 10px; 
  padding: 20px; 
}

.swal2-backdrop {
  background-color: rgba(0, 0, 0, 0.6); 
}
